/* :root {
  --window-height: 100vh;
} */

html,
body {
  margin: 0;
}

nav {
  display: none;
  background: pink;
  min-height: 100vh;
  min-height: webkit-fill-available;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  touch-action: none;
}

.wrapper {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  padding-top: 16px;
  background-color: silver;
  flex-grow: 1;
  font-size: 48px;
}

#open {
  position: fixed;
  width: 100%;
}

.overhidden {
  overflow: hidden;
  position: relative;
  height: 100vh;
}
